.signupScreen{
    max-width: 500px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.85);
}

.signupScreen>form{
    margin-top: -20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    flex-direction: column;
    text-align: left;
}

.signupScreen > form> input{
    /* margin-left: -25px; */
    outline-width: 0;
    height: 40px;
    margin-bottom: 5px;
}

.signupScreen > form > button{
    /* margin-left: -20px; */
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.remember__help{
    margin-top: 5px;
    width: 100%;
    display: flex;
}

.remember__me, .help__section{
    width: 50%;
    font-size: 13px;
}

.remember__me{
    text-align: left;
    color: rgb(134, 134, 134);
}

.help__section{
    text-align: right;
}

.help__section a{
    text-decoration: none;
    color: rgb(134, 134, 134);
}

h4{
    margin-top: 10px;
    font-weight: 400;
}

.signupScreen__grey{
    color: gray;
}

.signupScreen__link:hover{
    cursor: pointer;
    text-decoration: underline;
}